{% load static %}
{% load pipeline %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="author" content="Antyc Solutions">
    <meta name="google-site-verification" content="_2QB6f3t7jqRl-PtKZPOWsHthcKiRFYhbJwO3qN2dhg" />
    <meta name="description" content="Edmonton based software and web development." />
    <meta property="og:title" content="Antyc Solutions" />
    <meta property="og:type" content="website" />
    <meta property="og:url" content="https://antyc.ca/" />
    <meta property="og:image" content="" />

    <title>Antyc Solutions{% block title %}{% endblock %}</title>

    <!-- favicon -->
    <link rel="icon" type="image/x-icon" href="{% static 'img/favicon.ico' %}" />
    <!--[if IE]><link rel="shortcut icon" type="image/x-icon" href="{% static 'img/favicon.ico' %}" /><![endif]-->

    <!-- Bootswatch Cerulean Bootstrap -->
    <link type="text/css" href="//maxcdn.bootstrapcdn.com/bootswatch/3.3.2/simplex/bootstrap.min.css" rel="stylesheet">

    <!-- Font Awesome -->
    <link type="text/css" rel="stylesheet" href="//maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css">

    {% block extrahead %}{% endblock %}
</head>
<body itemscope itemtype="http://schema.org/WebPage">
    {% include 'antyc/navbar.html' %}
    <div class="container">
        {% block content %}{% endblock %}
    </div>
    <noscript>Your browser does not support JavaScript!</noscript>
    {% include 'antyc/footer.html' %}
    <!-- Scripts load last -->
    {% block scripts %}{% endblock %}
</body>
</html>
