{% extends 'antyc/base.html' %}

{% load static %}

{% block title %} - Welcome{% endblock %}

{% block extrahead %}
<style>
.l-blue {
    background-color: #007bb6; /* LinkedIn Blue */
}
.l-gray {
    background-color: lightgray;
}
.img-circle-icon {
    display: inline-block;
    border-radius: 50%;
    width: 36px;
    height: 36px;
}
</style>
{% endblock %}

{% block content %}
<div class="jumbotron" style="text-align: center;">
    <h1>Antyc Solutions</h1>
    <h2>Edmonton based Software Development</h2>
    <hr>
    <br />
    <p>Andrew Charles</p>
    <p>
        <span class="img-circle-icon l-gray">
            <span class="glyphicon glyphicon-envelope" aria-hidden="true" style="vertical-align: middle;"></span>
            <span class="sr-only">Email:</span>
        </span>
        <a href="mailto:andrew.charles@antyc.ca">andrew.charles@antyc.ca</a>
    </p>
    <p>
        <span class="img-circle-icon l-blue">
            <i class="fa fa-linkedin" style="color: white; vertical-align: middle;"></i>
        </span>
        <a href="http://ca.linkedin.com/in/andrewbcharles">LinkedIn Profile</a>
    </p>
    <br />
    <p>Tyler Davidson</p>
    <p>
        <span class="img-circle-icon l-gray">
            <span class="glyphicon glyphicon-envelope" aria-hidden="true" style="vertical-align: middle;"></span>
            <span class="sr-only">Email:</span>
        </span>
        <a href="mailto:tdavidso@ualberta.ca">tdavidso@ualberta.ca</a>
    </p>
    <p>
        <span class="img-circle-icon l-blue">
            <i class="fa fa-linkedin" style="color: white; vertical-align: middle;"></i>
        </span>
        <a href="http://ca.linkedin.com/pub/tyler-davidson/50/635/511/en">LinkedIn Profile</a>
    </p>
</div>

{% endblock %}
