{% extends 'antyc/base.html' %}

{% load pipeline %}

{% block title %} - Welcome{% endblock %}

{% block extrahead %}
    {% javascript "index" %}
    {% stylesheet "index" %}
{% endblock %}

{% block content %}

    <div class="jumbotron jumbo-center">
        <h1>
            Antyc Solutions
        </h1>
        <h2>
            Edmonton based Software Development
        </h2>
        <hr />

        <br />

        <p>
            Andrew Charles
        </p>
        <p>
            <span class="img-circle-icon e-gray icon-margin">
                <span class="glyphicon glyphicon-envelope e-style" aria-hidden="true"></span>
                <span class="sr-only">
                    Email:
                </span>
            </span>
            <a href="mailto:andrew.charles@antyc.ca">
                andrew.charles@antyc.ca
            </a>
        </p>
        <p>
            <span class="img-circle-icon l-blue icon-margin">
                <i class="fa fa-linkedin l-style"></i>
            </span>
            <a href="//ca.linkedin.com/in/andrewbcharles">
                LinkedIn Profile
            </a>
        </p>

        <br />

        <p>
            Tyler Davidson</p>

        <p>
            <span class="img-circle-icon e-gray icon-margin">
                <span class="glyphicon glyphicon-envelope e-style" aria-hidden="true"></span>
                <span class="sr-only">Email:</span>
            </span>
            <a href="mailto:tdavidso@ualberta.ca">
                tdavidso@ualberta.ca
            </a>
        </p>
        <p>
            <span class="img-circle-icon l-blue icon-margin">
                <i class="fa fa-linkedin l-style"></i>
            </span>
            <a href="//ca.linkedin.com/pub/tyler-davidson/50/635/511/en">
                LinkedIn Profile
            </a>
        </p>
    </div>

{% endblock %}
