<nav class="navbar navbar-inverse">
    <div class="container-fluid">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="/">Antyc Solutions</a>
        </div>
        <div class="collapse navbar-collapse" id="navbar">
            {% if user.is_authenticated %}
                <ul class="nav navbar-nav">
                    <li><a href="{% url 'index' %}">Antyc Solutions</a></li>
                </ul>
                <ul class="nav navbar-nav navbar-right">
                    <li><a href="/admin/">Admin</a></li>
                    {% comment %}
                    <li class="dropdown">
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false">Welcome{% if user.first_name %}, {{ user.first_name }}{% endif %} <span class="caret"></span></a>
                        <ul class="dropdown-menu" role="menu">
                            <li><a href="{% url 'user_logout' %}">Logout</a></li>
                        </ul>
                    </li>
                    {% endcomment %}
                </ul>
            {% else %}
                {% comment %}
                <ul class="nav navbar-nav navbar-right">
                    <li><a href="{% url 'user_login' %}">Login</a></li>
                </ul>
                {% endcomment %}
            {% endif %}
        </div>
    </div>
</nav>
